<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<!-- 메인페이지 -->
	<servlet>
		<servlet-name>app</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>app</servlet-name>
		<url-pattern>*.app</url-pattern>
	</servlet-mapping>
	<!-- 카테고리 -->
	<servlet>
		<servlet-name>cate</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cate</servlet-name>
		<url-pattern>*.cate</url-pattern>
	</servlet-mapping>
	<!-- 회원 -->
	<servlet>
		<servlet-name>member</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>member</servlet-name>
		<url-pattern>*.member</url-pattern>
	</servlet-mapping>
	<!-- Offline 컨텐츠 -->
	<servlet>
		<servlet-name>oncontent</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>oncontent</servlet-name>
		<url-pattern>*.oncont</url-pattern>
	</servlet-mapping>
	<!-- Offline 컨텐츠 -->
	<servlet>
		<servlet-name>offcontent</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>offcontent</servlet-name>
		<url-pattern>*.offcont</url-pattern>
	</servlet-mapping>
	<!-- 커리큘럼(강의실) -->
	<servlet>
		<servlet-name>curriculum</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>curriculum</servlet-name>
		<url-pattern>*.curr</url-pattern>
	</servlet-mapping>
	<!-- 결제 -->
	<servlet>
		<servlet-name>payment</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>payment</servlet-name>
		<url-pattern>*.payment</url-pattern>
	</servlet-mapping>
	<!-- 마이페이지 -->
	<servlet>
		<servlet-name>mypage</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mypage</servlet-name>
		<url-pattern>*.mypage</url-pattern>
	</servlet-mapping>
	<!-- Footer 관련 -->
	<servlet>
		<servlet-name>footer</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>footer</servlet-name>
		<url-pattern>*.footer</url-pattern>
	</servlet-mapping>
	<!-- search 검색 -->
	<servlet>
		<servlet-name>search</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>*.search</url-pattern>
	</servlet-mapping>
	<!-- 이벤트 -->
	<servlet>
		<servlet-name>event</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>event</servlet-name>
		<url-pattern>*.event</url-pattern>
	</servlet-mapping>
	<!-- 후보자 -->
	<servlet>
		<servlet-name>nominee</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>nominee</servlet-name>
		<url-pattern>*.nominee</url-pattern>
	</servlet-mapping>
	<!-- 투표 -->
	<servlet>
		<servlet-name>poll</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>poll</servlet-name>
		<url-pattern>*.poll</url-pattern>
	</servlet-mapping>
	<!-- 한글 필터링 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
